body {
  font-size: 15px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body a {
  color: white;
}

body a:hover {
  color: #6270b1;
}

.title {
  font-weight: 700;
}

.navbar {
  font-size: 18px;
  letter-spacing: 1px;
}

.header-navbar {
  background-color: #5353f0;
}

.profile-page {
  text-align: center;
}

.profile-page .btn-primary {
  background-color: #3541f1;
  color: #FFFFFF;
  border: none;
}

.profile-page .btn-primary:hover {
  background-color: #6e76e2;
}

.profile-page .button-container {
  text-align: center;
  margin-top: -106px;
}

.profile-page .button-container .btn-default {
  margin-right: 8px;
}

.profile-page .button-container .btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
}

.profile-page .button-container .btn-lg {
  font-size: 1em;
  border-radius: 50%;
  background-color: #3541f1;
  margin-top: 60px;
}

.profile-page .button-container .btn-lg:hover {
  background-color: #6e76e2;
  color: #FFFFFF;
}

.section {
  padding: 25px;
  position: relative;
  background: #FFFFFF;
}

.page-header {
  min-height: 550px;
}

.page-header .page-header-small {
  height: 60vh;
  max-height: 440px;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.page-header .container > .content-center {
  text-align: center;
  padding: 100px 15px;
  color: #FFFFFF;
  width: 100%;
}

.cc-profile-image a {
  position: relative;
}

.cc-profile-image img {
  position: relative;
  border-radius: 80%;
  height: 230px;
  width: 180px;
  padding: 0;
  margin: 20px;
  border: 4px solid #131212;
  z-index: 9999;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
  -webkit-animation: none;
  animation: none;
}

.cc-skill-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}

.cc-skill-image a:hover:before {
  -webkit-animation: none;
  animation: none;
}

.cc-skill-image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 200px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.skill-text {
  font-weight: 500;
}

.row-centered {
  text-align: center;
}

.category {
  text-transform: uppercase;
  font-weight: 700;
  color: #9A9A9A;
}

.navbar-toggler {
  width: 37px;
  height: 27px;
  outline: 0;
  cursor: pointer;
}

.sidebar-collapse .navbar .navbar-toggler-bar {
  display: block;
  position: relative;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background: #FFFFFF;
}

.sidebar-collapse .navbar .navbar-toggler-bar + .navbar-toggler-bar {
  margin-top: 7px;
}

.sidebar-collapse .navbar .navbar-translate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cc-experience .cc-experience-header {
  padding-top: 60px;
  padding-right: 0px;
  text-align: center;
  color: #fff;
}

.cc-education .cc-education-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  color: #fff;
}

.cc-contact-information {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-cont {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card .card-body {
  min-height: 190px;
}

h4 .title {
  margin-top: -10px;
}

.input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #555555;
  padding: -0.5rem 0 -0.5rem -0.3rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-control {
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #2c2c2c;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  max-width: 100%;
  padding: 10px 10px 0 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  border-radius: 0;
  line-height: 2;
}

.navbar-translate img {
  height: 40px;
  margin-right: 0px;
}

.gallery .cc-porfolio-image figure {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.gallery .cc-porfolio-image figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1;
}

.gallery .cc-porfolio-image figure figcaption {
  position: absolute;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery .cc-porfolio-image figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.gallery .cc-porfolio-image figure figcaption ::before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.gallery .cc-porfolio-image figure figcaption ::after {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.gallery figcaption .container {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.nav-pills .nav-item .nav-link {
  padding: 0 5px;
  text-align: center;
  height: 30px;
  width: auto;
  font-weight: 400;
  color: #9A9A9A;
  margin-right: 19px;
  background-color: rgba(222, 222, 222, 0.3);
}

.nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:focus, .nav-pills .nav-item .nav-link.active:hover {
  background-color: #5353f0;
  color: #FFFFFF;
}

.nav-pills .nav-item i {
  display: block;
  font-size: 20px;
  line-height: 30px;
}

.nav-pills.nav-pills-neutral .nav-item .nav-link {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.nav-align-center {
  text-align: center;
}

.nav-align-center .nav-pills {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.img-raised {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.gallery figure.cc-effect .h4 {
  margin-top: 25%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  opacity: 0;
}

.gallery figure.cc-effect p,
.gallery figure.cc-effect button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  opacity: 0;
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect .h4 {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after,
.gallery figure.cc-effect p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.gallery figure.cc-effect:hover img {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gallery figure.cc-effect:hover figcaption::after,
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/*# sourceMappingURL=main.css.map */