body{
    a{
        color: white;

        &:hover{
            color: rgb(98, 112, 177);
        }
    }
}

.header-navbar{
    background-color:rgb(83, 83, 240);
}

.profile-page{
    .button-container{
        text-align: center;
        margin-top: -106px;
    }
    
    .page-header{
        min-height: 550px;
        height: 100vh;
        max-height: 1050px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        background-position:center;
        background-size: cover;
    
        .page-header-small{
            height: 60vh;
            max-height: 440px;
        }

        .page-header-image{
            position: absolute;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .container {
            height: 100%;
            z-index: 1;
            text-align: center;
            position: relative;
            
            >.content-center{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                padding: 0 15px;
                color: #FFFFFF;
                width: 100%;
                max-width: 880px;
            }
        }
    }
}

.cc-profile-image{
    img {
        position: relative;
        border-radius: 80%;
        height: 230px;
        width: 180px;
        padding: 0;
        margin: 0;
        border: 15px solid transparent;
        z-index: 9999;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.category{
    text-transform: uppercase;
    font-weight: 700;
    color: #9A9A9A;
}

.navbar-toggler{
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;

    .navbar-toggler-left{
        position: relative;
        left: 0;
        padding-left: 0;
    }
}

// .navbar-transparent{
//     background-color: transparent !important;
//     -webkit-box-shadow: none;
//             box-shadow: none;
//     color: #FFFFFF;
//     padding-top: 20px;
// }

