body{
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;

    a{
        color: white;

        &:hover{
            color: rgb(98, 112, 177);
        }
    }
}
.title {
    font-weight: 700;
  }
.navbar {
    font-size: 18px;
    letter-spacing: 1px;
  }

.header-navbar{
    background-color:rgb(83, 83, 240);
}


.profile-page{
    text-align: center;
    
    .btn-primary{
        background-color: #3541f1;
        color: #FFFFFF;

        &:hover{
            background-color: #6e76e2;
        }
    }

    .button-container{
        text-align: center;
        margin-top: -106px;
    
        .btn-default{
            margin-right: 8px;
        }

        .btn-round{
            border-width: 1px;
            border-radius: 30px !important;
            padding: 11px 23px;
        }

        .btn-lg {
            font-size: 1em;
            border-radius: 50%;
            background-color: #3541f1;
            margin-top: 60px;

            &:hover{
                background-color: #6e76e2;
                color: #FFFFFF;
            }
          }
    }
}

.section {
     padding: 20px;
     position: relative;
     background: #FFFFFF;
}

.page-header{
    min-height: 550px;

    .page-header-small{
        height: 60vh;
        max-height: 440px;
    }

    .page-header-image{
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container {
        height: 100%;
        z-index: 1;
        text-align: center;
        position: relative;
        
        >.content-center{
            text-align: center;
            padding: 100px 15px;
            color: #FFFFFF;
            width: 100%;
        }
    }
}

.cc-profile-image{
    a{
        position: relative;
    }
    img {
        position: relative;
        border-radius: 80%;
        height: 230px;
        width: 180px;
        padding: 0;
        margin: 0;
        border: 4px solid rgb(19, 18, 18);
        z-index: 9999;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.cc-profile-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06);
}
  
.cc-profile-image a:hover:before {
    -webkit-animation: none;
            animation: none;
}

.cc-skill-image a:hover img {
    -webkit-transform: scale(1.06, 1.06);
            transform: scale(1.06, 1.06);
}
  
.cc-skill-image a:hover:before {
    -webkit-animation: none;
            animation: none;
}

.cc-skill-image{
    img{
        align-self: center;
        position: relative;
        height: 200px;
        width: 180px;
        padding: 0;
        margin: 0;
        border: 15px solid transparent;
        z-index: 1;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}

.skill-text{
    font-size: 10px;
}

.row-centered{
    text-align: center;
}

.category{
    text-transform: uppercase;
    font-weight: 700;
    color: #9A9A9A;
}

.navbar-toggler{
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;
}

.sidebar-collapse{
    .navbar{

        .navbar-toggler-bar{
            display: block;
            position: relative;
            width: 22px;
            height: 1px;
            border-radius: 1px;
            background: #FFFFFF;

            +.navbar-toggler-bar{
                margin-top: 7px;
            }
        }

        .navbar-translate{
            width: 100%;
            display: flex;
            justify-content: space-between !important;
            align-items: center;
        }
    }
}

.card{
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);

    .card-body{
        min-height: 190px;
    }
}