body {
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body a {
  color: white;
}

body a:hover {
  color: #6270b1;
}

.title {
  font-weight: 700;
}

.navbar {
  font-size: 18px;
  letter-spacing: 1px;
}

.header-navbar {
  background-color: #5353f0;
}

.profile-page {
  text-align: center;
}

.profile-page .btn-primary {
  background-color: #3541f1;
  color: #FFFFFF;
}

.profile-page .btn-primary:hover {
  background-color: #6e76e2;
}

.profile-page .button-container {
  text-align: center;
  margin-top: -106px;
}

.profile-page .button-container .btn-default {
  margin-right: 8px;
}

.profile-page .button-container .btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
}

.profile-page .button-container .btn-lg {
  font-size: 1em;
  border-radius: 50%;
  background-color: #3541f1;
  margin-top: 60px;
}

.profile-page .button-container .btn-lg:hover {
  background-color: #6e76e2;
  color: #FFFFFF;
}

.section {
  padding: 20px;
  position: relative;
  background: #FFFFFF;
}

.page-header {
  min-height: 550px;
}

.page-header .page-header-small {
  height: 60vh;
  max-height: 440px;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.page-header .container > .content-center {
  text-align: center;
  padding: 100px 15px;
  color: #FFFFFF;
  width: 100%;
}

.cc-profile-image a {
  position: relative;
}

.cc-profile-image img {
  position: relative;
  border-radius: 80%;
  height: 230px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 4px solid #131212;
  z-index: 9999;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.cc-profile-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
  -webkit-animation: none;
  animation: none;
}

.cc-skill-image a:hover img {
  -webkit-transform: scale(1.06, 1.06);
  transform: scale(1.06, 1.06);
}

.cc-skill-image a:hover:before {
  -webkit-animation: none;
  animation: none;
}

.cc-skill-image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 200px;
  width: 180px;
  padding: 0;
  margin: 0;
  border: 15px solid transparent;
  z-index: 1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.skill-text {
  font-size: 10px;
}

.row-centered {
  text-align: center;
}

.category {
  text-transform: uppercase;
  font-weight: 700;
  color: #9A9A9A;
}

.navbar-toggler {
  width: 37px;
  height: 27px;
  outline: 0;
  cursor: pointer;
}

.sidebar-collapse .navbar .navbar-toggler-bar {
  display: block;
  position: relative;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background: #FFFFFF;
}

.sidebar-collapse .navbar .navbar-toggler-bar + .navbar-toggler-bar {
  margin-top: 7px;
}

.sidebar-collapse .navbar .navbar-translate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card .card-body {
  min-height: 190px;
}
/*# sourceMappingURL=main.css.map */